*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    font-size: 13px
}

.card {
    background-color: white;
    border-radius: 15px;
    height: 500px;
    max-width: 375px;
    min-width: 275px;
     box-shadow: 5px 5px 30px var(--Grayish-Blue);

}

.card-img {
    width: 100%;
    height: 35%;
}

.card-img img {
    border-radius: 15px 15px 0px 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    height: 65%;
}

.card-description {
    color: var(--Desaturated-Dark-Blue);
}

.card-user {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.user-details {
    flex-grow: 1;
    margin-left: 20px;
}

.user-details span {
    color: var(--Grayish-Blue);
}

.user-avatar {
    border-radius: 50%;
    width: 20%;
    height: 100%;
}

.user-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.share-icon {
    background-color: var(--Light-Grayish-Blue);
    padding: 5%;
    border-radius: 50%;


}

h3,
h4 {
    color: var(--Very-Dark-Grayish-Blue);
}