*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    font-size: 13px
}

.card {
    background-color: white;
    border-radius: 15px;
    height: 500px;
    max-width: 320px;
    min-width: 250px;
    box-shadow: 5px 5px 30px var(--Grayish-Blue);

}

.card-img {
    width: 100%;
    height: 35%;
}

.card-img img {
    border-radius: 15px 15px 0px 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 65%;
}

.card-description {
    color: var(--Desaturated-Dark-Blue);
}

.card-description,
.card-title,
.card-user,
.card-social {
    padding: 0 10% 0 10%;

}

.card-title {
    margin-top: 10%;
}

.card-user,
.card-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 25%; */

}


.user-details {
    flex-grow: 1;
    margin-left: 20px;
}

.user-details span {
    color: var(--Grayish-Blue);
}

.user-avatar {
    border-radius: 50%;
    width: 20%;
    height: 80%;

}

.user-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.share-icon {
    background-color: var(--Light-Grayish-Blue);
    padding: 5%;
    border-radius: 50%;
    border: none;

}

h3,
h4 {
    color: var(--Very-Dark-Grayish-Blue);
}

.card-footer {
    position: relative;
    height: 80px;
    /* justify-self: flex-end; */


}

.card-user {
    position: absolute;
    /* display: flex; */

    width: 100%;
    /* justify-content: space-between; */
    /* z-index: -1; */
    height: 100%;
}


.card-social {
    position: relative;
    background-color: var(--Very-Dark-Grayish-Blue);
    z-index: 100;
    height: 100%;
    opacity: 1;
    border-radius: 0px 0px 15px 15px;
    animation-name: vis;
    animation-duration: 1s;
}

@keyframes vis {
    0% {
        visibility: hidden;
        height: 0;
    }

    100% {
        visibility: visible;
        height: 100%;

    }
}

.share-word {
    letter-spacing: 10px;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
}

.card-social .share-icon {
    background-color: var(--Desaturated-Dark-Blue);
}

.card-user .share-icon i {
    color: var(--Desaturated-Dark-Blue);

}

.card-social .share-icon i {
    color: white;

}

.social-icon {
    /* background-color: red; */
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

/* .card-social .share-icon  */