*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    font-size: 13px
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    max-width: 320px;
    min-width: 250px;
    box-shadow: 5px 5px 30px var(--Grayish-Blue);
    margin: 0 auto;
    height: 450px;

}

.card-img {
    width: 100%;
    height: 35%;
}

.card-img img {
    border-radius: 15px 15px 0px 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 65%;
}

.card-description {
    color: var(--Desaturated-Dark-Blue);
}

.card-description,
.card-title,
.card-user,
.card-social {
    padding: 0 10% 0 10%;

}

.card-title {
    margin-top: 10%;
}

.card-user,
.card-social {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.user-details {
    flex-grow: 1;
    margin-left: 20px;
}

.user-details span {
    color: var(--Grayish-Blue);
}

.user-avatar {
    border-radius: 50%;
    width: 20%;
    height: 80%;

}

.user-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.share-icon {
    background-color: var(--Light-Grayish-Blue);
    padding: 5%;
    border-radius: 50%;
    border: none;

}

h3,
h4 {
    color: var(--Very-Dark-Grayish-Blue);
}

.card-footer {
    position: relative;
    height: 25%;

}

.card-user {
    position: absolute;

    width: 100%;

    height: 100%;
}


.card-social {
    position: relative;
    background-color: var(--Very-Dark-Grayish-Blue);
    z-index: 100;
    height: 100%;
    border-radius: 0px 0px 15px 15px;

}


.share-word {
    letter-spacing: 10px;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
}

.card-social .share-icon {
    background-color: var(--Desaturated-Dark-Blue);
}

.card-user .share-icon i {
    color: var(--Desaturated-Dark-Blue);

}

.card-social .share-icon i {
    color: white;

}

.social-icon {

    width: 40%;
    display: flex;
    justify-content: space-evenly;
}



@media (min-width: 400px) {
    .card {
        flex-direction: row;
        max-width: 691px;
        height: 300px;
    }

    .card-img {
        height: 100%;
        width: 40%;
    }

    .card-img img {
        border-radius: 15px 0px 0px 15px;

    }

    .card-details {
        width: 60%;
        height: 100%;
    }

    .user-avatar {
        border-radius: 50%;
        width: 20%;
        height: 60%;

    }

    .card-social .share-icon {
        display: none;
    }

    .card-social {
        display: flex;
        justify-content: space-between;
        min-width: 220px;
        width: 80%;
        border-radius: 10px 10px 10px 10px;
        height: 45px;
        /* top: -50px; */
        padding: 0 7%;
        top: -50%;
        left: 50%;

    }

    .card-social::after {
        position: absolute;
        content: "";
        border: 20px solid;
        border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
        /* border-color: red transparent transparent transparent; */
        top: 90%;
        left: 35%;

    }

    .social-icon {
width: 60%;
        
 /* background-color: red;        */
    }


}